language: java
notifications:
  irc:
    channels:
      - "irc.freenode.org#jnr"
    on_success: change
    on_failure: always
    template:
      - "%{repository} (%{branch}:%{commit} by %{author}): %{message} (%{build_url})"
matrix:
  include:
    - os: os x
    - os: linux
      jdk: oraclejdk8
    - os: linux
      jdk: openjdk7
    - env: TEST_TYPE=all32
    - env: TEST_TYPE=reflection
    - env: TEST_TYPE=x86asm32
    - env: TEST_TYPE=x86asm64
    - env: TEST_TYPE=fast-int
    - env: TEST_TYPE=fast-long
    - env: TEST_TYPE=fast-numeric
    - env: TEST_TYPE=buffer
    - env: TEST_TYPE=buffer32
sudo: true
cache:
  directories:
  - $HOME/.m2
install: true
script: chmod +x .ci/travis.sh && .ci/travis.sh
after_success:
  - bash <(curl -s https://codecov.io/bash)
